In [1]:
import nltk
import pandas as pd
import numpy as np
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [131]:
train = pd.read_csv("train.csv")

In [132]:
train_count=train.groupby(['user.id'])["user.id"].size().reset_index(name='Count')

In [135]:
train=train.groupby(['user.id','age'])["text"].apply(lambda x: "%s" % ' '.join(x)).reset_index(name='text')

In [138]:
train=pd.merge(train,train_count,how='left',on='user.id')

In [139]:
train.head(10)

   user.id  age                                               text  Count
0        1   17     Doritos Fuel of Space  urlLink     : Ian My...     31
1        3   16           Yeah, I set up this blog so Heather w...      8
2        4   17             Not too much exciting has happened ...      1
3        5   47                European Pilgrimage For High sch...     22
4        6   16         Last night's dream is  very  blurry.  T...    662
5        7   25                         June 21, 2004 SPAIN V P...      3
6       12   23               Well, 1 day left... Less than 36 ...     10
7       14   37     Every now and then you see a post on one of...     96
8       15   17          Well around 3 me adam and jake went ou...     27
9       16   15                   yesterday,went out wif my sis...     34

In [140]:
train_text = train[["user.id", "text", "age","Count"]]

In [141]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(train_text.text)
X_train_counts.shape

(12880, 547674)

In [11]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(442961, 547674)

In [20]:
from sklearn.linear_model import SGDClassifier

In [21]:
clf = SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=42,max_iter=5, tol=None).fit(X_train_tfidf, train_text.age)

In [22]:
test = pd.read_csv("test.csv")

In [23]:
test_text = test[["user.id", "text"]]

In [24]:
X_new_counts = count_vect.transform(test_text.text)

In [25]:
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [26]:
predicted = clf.predict(X_new_tfidf)

In [27]:
cols = ["user.id", "age"]
test_output = pd.DataFrame(columns = cols)
test_output[["user.id"]] = test[["user.id"]]
test_output[["age"]] = predicted

In [28]:
test_output.head()

   user.id  age
0     4876   26
1     4876   16
2    12227   17
3    12227   16
4    12227   17

In [29]:
# train.to_csv("train_FRE.csv", encoding = 'utf-8', index = False)
test_output.to_csv("test_sklearn_output.csv", encoding = 'utf-8', index = False)