In [1]:
import nltk
import pandas as pd
import numpy as np
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [3]:
train = pd.read_csv(s"C:/Users/karan/OneDrive/Documents/UVA/Fall Semester/SYS 6018/sys6018-competition-/sys6018-competition-blogger-characteristics/karan/train.csv")

In [4]:
train.head()

,post.id,user.id,gender,topic,sign,date,text,age
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33

In [5]:
train_text = train[["user.id", "text", "age"]]

In [10]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(train_text.text)
X_train_counts.shape

(442961, 547674)

In [7]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(442961, 547674)

In [11]:
clf = MultinomialNB().fit(X_train_tfidf, train_text.age)

In [3]:
test = pd.read_csv("C:/Users/karan/OneDrive/Documents/UVA/Fall Semester/SYS 6018/sys6018-competition-/sys6018-competition-blogger-characteristics/karan/test.csv")

In [13]:
test_text = test[["user.id", "text"]]

In [14]:
X_new_counts = count_vect.transform(test_text.text)

In [16]:
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [17]:
predicted = clf.predict(X_new_tfidf)

In [18]:
cols = ["user.id", "age"]
test_output = pd.DataFrame(columns = cols)
test_output[["user.id"]] = test[["user.id"]]
test_output[["age"]] = predicted

In [19]:
test_output.head()

   user.id  age
0     4876   24
1     4876   24
2    12227   17
3    12227   16
4    12227   17

In [20]:
# train.to_csv("train_FRE.csv", encoding = 'utf-8', index = False)
test_output.to_csv("test_sklearn_output.csv", encoding = 'utf-8', index = False)