In [13]:
import pandas as pd
import numpy as np
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDClassifier

In [2]:
train = pd.read_csv("C:/Users/Fang/Downloads/f18/6018/Kaggle/03_blog/train.csv")

In [3]:
train.head()

,post.id,user.id,gender,topic,sign,date,text,age
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33

In [5]:
train_text = train[["user.id", "text", "age"]]

In [15]:
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('clf', SGDClassifier(loss='hinge', penalty='l2', alpha=1e-3, random_state=42, 
                                           max_iter=5, tol=None)),])

In [16]:
text_clf.fit(train_text.text, train_text.age)

Pipeline(memory=None,
     steps=[('vect', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip...ty='l2', power_t=0.5, random_state=42, shuffle=True,
       tol=None, verbose=0, warm_start=False))])

In [6]:
test = pd.read_csv("C:/Users/Fang/Downloads/f18/6018/Kaggle/03_blog/test.csv")

In [7]:
test_text = test[["user.id", "text"]]

In [17]:
predicted = text_clf.predict(test_text.text)

In [20]:
cols = ["user.id", "age"]
test_output = pd.DataFrame(columns = cols)
test_output[["user.id"]] = test[["user.id"]]
test_output[["age"]] = predicted

In [22]:
test_output.head()

   user.id  age
0     4876   26
1     4876   16
2    12227   17
3    12227   16
4    12227   17

In [21]:
# train.to_csv("train_FRE.csv", encoding = 'utf-8', index = False)
test_output.to_csv("test_sklearn_SVM_output.csv", encoding = 'utf-8', index = False)