In [1]:
import pandas as pd
import numpy as np
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv("C:/Users/karan/OneDrive/Documents/UVA/Fall Semester/SYS 6018/sys6018-competition-/sys6018-competition-blogger-characteristics/Other Models and Testing/karan/train.csv")

In [3]:
test = pd.read_csv("C:/Users/karan/OneDrive/Documents/UVA/Fall Semester/SYS 6018/sys6018-competition-/sys6018-competition-blogger-characteristics/Other Models and Testing/karan/test.csv")

In [4]:
train.head()

,post.id,user.id,gender,topic,sign,date,text,age
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33

In [5]:
train_text = train[["user.id", "text", "age"]]

In [6]:
test_text = test[["user.id", "text"]]

In [7]:
# Cross Validation
X_train, X_test, y_train, y_test = train_test_split(
    train_text.text, train_text.age, test_size=0.5, random_state=0)

In [8]:
X_train.shape, y_train.shape

((221480,), (221480,))

In [9]:
X_test.shape, y_test.shape

((221481,), (221481,))

In [10]:
# Linear SVM Model
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('clf', SGDClassifier(loss='hinge', penalty='l2', alpha=1e-3, random_state=42, 
                                           max_iter=5, tol=None)),])

In [11]:
text_clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('vect', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip...ty='l2', power_t=0.5, random_state=42, shuffle=True,
       tol=None, verbose=0, warm_start=False))])

In [12]:
predicted = text_clf.predict(X_test)
np.sum(y_test - predicted) / len(predicted)
# The difference between the model's prediction and actual age i.e.: mean error.

0.3760999814882541

In [13]:
# Train the model using the whole train dataset
text_clf.fit(train_text.text, train_text.age)

Pipeline(memory=None,
     steps=[('vect', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip...ty='l2', power_t=0.5, random_state=42, shuffle=True,
       tol=None, verbose=0, warm_start=False))])

In [14]:
predicted = text_clf.predict(test_text.text)

In [15]:
cols = ["user.id", "age"]
test_output = pd.DataFrame(columns = cols)
test_output[["user.id"]] = test[["user.id"]]
test_output[["age"]] = predicted

In [16]:
test_output=test_output.groupby('user.id')['age'].mean().reset_index()

In [19]:
test_output.head(10)

   user.id        age
0        2  25.571429
1        8  25.884058
2        9  22.795014
3       10  27.181818
4       11  26.500000
5       13  17.444444
6       20  23.344828
7       26  25.409449
8       27  24.000000
9       29  31.500000

In [18]:
test_output.to_csv("blog_sklearn_SVM_CV_output.csv", encoding = 'utf-8', index = False)