In [1]:
import nltk
import pandas as pd
import numpy as np
import re
from textstat.textstat import textstat

In [2]:
train = pd.read_csv("C:/Users/Fang/Downloads/f18/6018/Kaggle/03_blog/train.csv")

In [3]:
train.head()

,post.id,user.id,gender,topic,sign,date,text,age
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33

In [4]:
train.text[1]

'           These are the team members:   Drewes van der Laag           urlLink mail  Ruiyu Xie                     urlLink mail  Bryan Aaldering (me)          urlLink mail          '

In [4]:
FRE = []
FKGL = []

for i in range(train.shape[0]):
    if (train.text[i].upper().isupper() or train.text[i].lower().islower()):
        FRE.append(textstat.flesch_reading_ease(train.text[i]))
        FKGL.append(textstat.flesch_kincaid_grade(train.text[i]))
    else: 
        FRE.append(0)
        FKGL.append(0)
        
# print("Done")

Done

In [ ]:
# tokens = [[] for x in range(train.shape[0])]

# for i in range(train.shape[0]): 
#     tokens[i] = nltk.word_tokenize(train.text[i])

# tokens[1]

In [6]:
len(FKGL)

442961

In [11]:
train['FRE'] = pd.Series(FRE, index=train.index)
train['FKGL'] = pd.Series(FKGL, index=train.index)

In [19]:
train.head()

,post.id,user.id,gender,topic,sign,date,text,age,FRE,FKGL
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15,36.96,10.3
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15,-177.25,43.0
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15,62.88,8.7
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15,-895.00,138.6
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33,46.47,10.8

In [20]:
test = pd.read_csv("C:/Users/Fang/Downloads/f18/6018/Kaggle/03_blog/test.csv")

In [21]:
FRE_test = []
FKGL_test = []

for i in range(test.shape[0]):
    if (test.text[i].upper().isupper() or test.text[i].lower().islower()):
        FRE_test.append(textstat.flesch_reading_ease(test.text[i]))
        FKGL_test.append(textstat.flesch_kincaid_grade(test.text[i]))
    else: 
        FRE_test.append(0)
        FKGL_test.append(0)

print("Done")

Done

In [22]:
test['FRE'] = pd.Series(FRE_test, index=test.index)
test['FKGL'] = pd.Series(FKGL_test, index=test.index)

In [23]:
test.head()

,post.id,user.id,gender,topic,sign,date,text,FRE,FKGL
0,96,4876,female,indUnk,Capricorn,"08,August,2004","urlLink im new to this, ...",-55.09,22.9
1,97,4876,female,indUnk,Capricorn,"08,August,2004",Election time has rolled aro...,65.22,7.8
2,108,12227,female,Student,Aries,"31,July,2004","Met Lim this morning, then we...",54.59,7.7
3,109,12227,female,Student,Aries,"30,July,2004",Such a boring day. I have no ...,47.65,8.3
4,110,12227,female,Student,Aries,"29,July,2004","Nuts. As usual, Theo and I pl...",80.38,4.0

In [25]:
len(FRE_test)

238323

In [ ]:
train.to_csv("train_FRE.csv", encoding = 'utf-8', index = False)
test.to_csv("test_FRE.csv", encoding = 'utf-8', index = False)