In [109]:
import nltk
import pandas as pd
import numpy as np
import re

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.datasets import load_files
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.metrics import classification_report

from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.externals import joblib

from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [110]:
train = pd.read_csv("C:/Users/Fang/Downloads/f18/6018/Kaggle/03_blog/train.csv")

In [35]:
train.head()

,post.id,user.id,gender,topic,sign,date,text,age
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33

In [111]:
train_text = train[["user.id", "text", "age"]]

In [112]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(train_text.text)
X_train_counts.shape

(442961, 547674)

In [113]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(442961, 547674)

In [114]:
clf = MultinomialNB().fit(X_train_tfidf, train_text.age)

In [40]:
test = pd.read_csv("C:/Users/Fang/Downloads/f18/6018/Kaggle/03_blog/test.csv")

In [41]:
test_text = test[["user.id", "text"]]

In [115]:
X_new_counts = count_vect.transform(test_text.text)

In [116]:
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [78]:
predicted = clf.predict(X_new_tfidf)

In [117]:
# age_list = train_text.age.unique()
# mean_age = int(age_list.mean().round())
# age_list_long = np.append(age_list, mean_age)

In [150]:
cols = ["user.id", "age"]
test_output = pd.DataFrame(columns = cols)
test_output[["user.id"]] = test[["user.id"]]
test_output[["age"]] = predicted
# pd.DataFrame(test[["user.id"]], predicted)
# cols = test_output.columns.tolist()
# cols = cols[-1:] + cols[:-1]
# test_output = test_output[cols]

In [151]:
test_output.head()

   user.id  age
0     4876   24
1     4876   24
2    12227   17
3    12227   16
4    12227   17

In [152]:
# train.to_csv("train_FRE.csv", encoding = 'utf-8', index = False)
test_output.to_csv("test_sklearn_output.csv", encoding = 'utf-8', index = False)